*{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}
h1,h2,h3,h4,h5{
  font-family: 'IM Fell English', serif;
}
.bgimg{
  background-image: url("../images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  /* background-color: #046769; */
  background-image: linear-gradient(to right, #0d3c3d ,#57a8ab , #0d3c3d);
}
.Mbg{
  background-color: rgb(235 241 241);
}
#mainFont{
  font-family: 'IM Fell English', serif;
  color: rgb(26, 78, 78);
  font-weight: 500;
  font-size: 60px;
  line-height: 120px;
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  /* margin-bottom: 30px; */
}
.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  /* background: -webkit-gradient(linear, left top, right top, from(#4648cb), to(#5ae4ee)); */
  background: linear-gradient(to right,  #17696a ,#57a8ab);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}


.p-b-5 {
  padding-bottom: 5px !important;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  /* margin: 0 10px 0 0; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*  --------------------- */
/* h3{
  color:#046769 ;
  font-weight: bold 5px;
} */
a{
  color: #333;
}
a:hover{
  color: #081011;
  text-decoration: none;
}
.form-control:focus {

    color: #000;
    background-color: #fff;
    border:2px solid #57a8ab;
    outline: 0;
    box-shadow: none;

}

.btn{
  background: #57a8ab;
  border: #57a8ab;
  color: #fff;
}
.btn:hover {
  background: #d0f7f8;
  border: none;
  color: #0d3c3d;
}
.greentext{
  color: #78e0e2;
}
.greentext:hover{
  color: #000000;

}

